.btn__acciones i {
    font-size: large;
    cursor: pointer;
}

.btn__acciones i:first-child {
    margin-right: 10px;
}

.btn__acciones>.fa-edit {
    color: #0d6efd;
}

.btn__acciones>.fa-trash-alt {
    color: #dc3545;
}

.btn__acciones i:hover {
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1, 1.1);
}

.not__register {
    margin-top: 50px;       
}

.not__register > span {
    display: flex;
    justify-content: center;    
}

.img__ops > img {
    width: 250px;
}

.texto__ops {  
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.loader,
.loader:before,
.loader:after {
    background: #0d6efd;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #0d6efd;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}