hr {
    border-color: #86b7fe;
    border-width: 3px;
    max-width: 65px;
    margin: 1rem auto;
    opacity: 1;
}

button {    
    border-radius: 24px;
    width: 180px;
}

.login {    
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url('../../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.titulo {
    color: #cdd0d4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.alert__error {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 25px auto auto auto;
    width: 400px;
}